<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <directoryBrowse enabled="false" />
    <rewrite>
      <rules>
        <rule name="Block private app folders" stopProcessing="true">
          <match url="^(config|core|services|sql|storage|workers|pages)(/.*)?$" />
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Private application path" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
